{% extends "base.html" %}

{% block content %}
<body>
	<div class="slider middle">

		<div class="sliders">

			<input type="radio" name="r" id="r1" checked>
			<input type="radio" name="r" id="r2">
			<input type="radio" name="r" id="r3">


			<div class="slide s1"><a href="/pedagog1"><img src=/static/img/AsNikolaevich.jpg alt="Ошибочка"></a></div>

			<div class="slide"><a href="/pedagog2"><img src=/static/img/DeCharkov.jpg alt="Ошибочка"></a></div>

			<div class="slide"><a href="/pedagog3"><img src=/static/img/AnFirsov.jpg alt="Ошибочка"></a></div>


			</div>

				<div class="navigation">

					<label for="r1" class="bar"></label>
					<label for="r2" class="bar"></label>
					<label for="r3" class="bar"></label>

				</div>

			</div>

		</div>
</body>
{% endblock %}