{% extends "base.html" %}

{% block content %}

<body>
	<div align="center">
            <div class="slide">
                    <img src=/static/img/AsNikolaevich.jpg alt="Ошибочка">
            </div>
        <p align="center">ФИО: Никитин Александр Николаевич</p>
        <p align="center">Дата рождения: Неизвестно</p>
        <p align="center">Место рождения: неизвестно</p>
        <p align="center">Образование: неизвестно</p>
        <p align="center">Квалификация: учитель физики и информатики</p>
        <p align="center">Специальность: учитель по специальности "Физика" с дополнительной специальностью "Информатика"</p>
        <p align="center">Место работы: Много где</p>
        <p align="center">Занимаемая должность: учитель физики и информатики</p>
        <p align="center">Сведения о повышении квалификации:</p>
        <ul>
            <li align="center">Неизветсно</li>
            <li align="center">Неизветсно</li>
        </ul>

    </div>
</body>

{% endblock %}