{% extends "base.html" %}

{% block content %}

<body>
	<div align="center">
            <div class="slide">
                    <img src=/static/img/DeCharkov.jpg alt="Ошибочка">
            </div>
        <p align="center">ФИО: Чарков Дмитрий Евгеньевич</p>
        <p align="center">Дата рождения: 29 ноября 1988 года</p>
        <p align="center">Место рождения: д. Вурманкасы Вурнарского района Чувашской Республики</p>
        <p align="center">Образование: высшее, Чувашский государственный педагогичкский университет, 2011 год</p>
        <p align="center">Квалификация: учитель физики и информатики</p>
        <p align="center">Специальность: учитель по специальности "Физика" с дополнительной специальностью "Информатика"</p>
        <p align="center">Место работы: МБОУ "Юманайская СОШ" Шумерлинского района Чувашской Республики</p>
        <p align="center">Занимаемая должность: учитель физики и информатики</p>
        <p align="center">Сведения о повышении квалификации:</p>
        <ul>
            <li align="center">БОУ ДПО (ПК) С "Чувашский республиканский институт образования" Минобразования Чувашии, 2011 год, "Использование ЭОР в образовательной деятельности"  (72 часа)</li>
            <li align="center">НИУ "Московский физико-технический институт (государственный университет)", 2011 год, "Современные информационные технологии в образовании"  (72 часа)</li>
        </ul>

    </div>
</body>

{% endblock %}