{% extends "base.html" %}

{% block content %}

<body>
	<div align="center">
            <div class="slide">
                    <img src=/static/img/AnFirsov.jpg alt="Ошибочка">
            </div>
        <p align="center">ФИО: Фирсов Алексей Николаевич</p>
        <p align="center">Дата рождения: Неизвестно</p>
        <p align="center">Место рождения: неизвестно</p>
        <p align="center">Образование: неизвестно</p>
        <p align="center">Квалификация: неизвестно</p>
        <p align="center">Специальность: Неизвестно</p>
        <p align="center">Место работы: неизвестно</p>
        <p align="center">Занимаемая должность: неизвестно</p>
        <p align="center">Сведения о повышении квалификации:</p>
        <ul>
            <li align="center">Неизветсно</li>
            <li align="center">Неизветсно</li>
        </ul>

    </div>
</body>

{% endblock %}